@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #3e3b4a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none; 
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 75px;
}

.header-menu {
    margin-top: 20px;
    padding-left: 30px;
    background: url(../img/icons/burger.png) no-repeat top left;
}

.header-search {
    margin-top: 20px;
    padding-right: 30px;
    background: url(../img/icons/search-i.png) no-repeat top right;
}

.header-menu-link, .header-search-link {
    color: #898691;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

/* TOP SECTION*/

.top-section {
    display: flex;
    flex-direction: column;
    height: 512px;
    padding: 40px;
    background: url('../img/top-section.jpg') no-repeat center;
}

.headline {
    color: #ffc7b0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.top-section-title {
    margin: 0;
    color: #ffffff;
    font-size: 72px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 10px;
}

.top-section-desc {
    
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
}

.read-more-link {
    margin-top: auto;
    color: #ffffff;
    height: 42px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border: 3px solid #ffe18f;
    background-color: transparent;
    max-width: 130px;
    text-align: center;
}

/* MIDDLE-SECTION */

.middle-section {
    margin-top: 20px;
}

.middle-section-container {
    display: flex;
    justify-content: space-betwee;
}

.middle-section-accessories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 484px;
    width: 600px;
    background-image: url('../img/middle-section-accessories.jpg');
    background-position: top right;
    background-size: cover;
    margin-right: 20px;
    padding: 40px;
}   

.middle-section-accessories-title {
    margin: 0;
    color: #ffffff;
    margin: 10px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
}

.middle-section-accessories-desc {
    width: 190px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.middle-section-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 383px;
    padding: 75px 40px 50px 40px;
    background-color: #eb7b61;  
}

.middle-section-sidebar-headline{
    
    margin-bottom: -40px;
    color: #ffffff;
    font-family: "Times New Roman PSMT";
    font-size: 48px;
    font-weight: 400;
}

.middle-section-sidebar-desc {
    
    color: #ffffff;
    font-family: "Times New Roman PSMT";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-align: center;
}

.item-email {
    width: 285px;
    height: 42px;
    border: 3px solid #ffd9d1;
    background-color: transparent;
    color: #ffd9d1;
    font-size: 20px;
    font-weight: 700;
    text-align: center
}

.item-subscribe{
    margin-top: 20px;
    width: 285px;
    height: 42px;
    background-color: #66689c;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: none;
}

.middle-section-sidebar-privacy {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

/* BOTTOM-SECTION */

.bottom-section-container {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.cameras-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/bottom-section1.jpg);
    background-position: center center;
    background-size: cover;
    width: 260px;
    margin-right: 20px;
    height: 420px;
    padding: 30px 0 40px 0;
}

.cameras-left-headline {
    text-align: center;
}

.sound {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/bottom-section2.jpg);
    background-position: center center;
    background-size: cover;
    width: 260px;
    height: 420px;
    margin-right: 20px;
    padding: 30px 0 40px 0;
}

.review-link {
    width: 93px;
    height: 42px;
    background-color: #ffe18e;
    padding: 5px;
    color: #3d3c4a;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.cameras-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 420px;
    width: 460px;
    background-image: url(../img/bottom-section3.jpg);
    background-position: center center;
    background-size: cover;
    padding: 30px 40px 40px 40px;
}

.title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.cameras-right-title {
    margin: 10px 0 15px 0
}

.cameras-right-desc {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

/* FOOTER */

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 140px;
    align-items: center;
}

.footer-copyright {
    color: #898691;
    font-size: 14px;
    font-weight: 400;
}

.socials-link {
    margin-right: 20px;
}

.socials-link:nth-child(2) {
    margin-right: 0;
}

/* ADAPTATION */

@media only screen and (max-width: 768px) {
    
    .header-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .top-section {
        padding: 20px;
        width: 100%
    }

    .top-section-title {
        font-size: 36px;
        max-width: 195px;
    }

    .headline {
        font-size: 12px;
    }

    .top-section-desc {
        font-size: 18px;
        max-width: 216px;
    }
    .middle-section-container, .bottom-section-container {
        flex-wrap: wrap;
    }

    .middle-section {
        margin-top: 10px;
    }

    .middle-section-accessories {
        margin: 0 auto 10px auto;
        padding: 20px;
        width: 100%
    }

    .middle-section-accessories-title {
        font-size: 36px
    }

    .middle-section-accessories-desc {
        font-size: 18px;
    }

    .middle-section-sidebar {
        width: 100%;
        padding: 20px 20px 30px 20px;
        
    }

    .middle-section-sidebar-headline{
        width: 249px;
        margin-bottom: 0;
        font-size: 24px;
        text-align: center;
        width: 100%;
    }

    .middle-section-sidebar-desc {
        width: 250px;
        margin-bottom: 10px;
        font-size: 16px;
        width: 100%;
    }

    .item-email {
        width: 150px;
        height: 32px;
        font-size: 12px;
        width: 100%;
    }
    
    .item-subscribe{
        margin-top: 10px;
        width: 150px;
        height: 32px;
        font-size: 12px;
        margin-bottom: 20px;
        width: 100%;
    }
        
    .middle-section-sidebar-privacy {
        max-width: 248px;
        width: 100%;
    }

    .bottom-section-container {
        margin-top: 10px;
        justify-content: center
    }
     
    .cameras-left, .sound {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }
     
    .cameras-right {
        margin: auto auto auto auto;
        width: 100%
    }

    .cameras-right-desc {
        font-size: 14px;
    }
     
    .footer-container {
        height: 70px;
        flex-direction: column;
        justify-content: center
    }

    .read-more-link {
        color: #3d3c4a;
        background-color: #ffe18e;
        height: 32px;
        font-size: 12px;
        max-width: 85px;
    }

    .review-link {
        height: 32px;
        font-size: 12px;
    }
    
    .title {
        font-size: 24px;
    }

}